h1, h3 {
  text-align: center;
  color: rgb(128, 44, 44);
  margin: 50px;
}

#buttons {
  width: 60%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  width: 30%;
  height: 100px; 
}

.far {
  font-size: 2em;
  color: black;
}