* {
  background-color: #E7E5DF;
}

h1, h3 {
  text-align: center;
  color: #0075F2;
  margin: 50px;
  font-family: 'Rammetto One', cursive;
}

h2 {
  font-family: 'Happy Monkey', cursive;
}

#buttons {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  ;
}

#stats {
  height: 10vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#results {
  padding: 20px;
}

#reset {
  display: block;
  position: relative;
  top: 50px;
  margin: 20px;
  width: 15vw;
  height: 4vh;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  width: 30%;
  height: 200px; 
  border: none;
}

.far {
  font-size: 8vw;
  color: black;
}